# Python bytecode and compiled files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# PyInstaller
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# build artifacts
build/
dist/
*.egg-info/

# logs
*.log

# FastAPI + Uvicorn specific
*.db
instance/
*.sqlite3
/chromadb_storage/*
/static/*